<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best of the year</title>
    <th:block th:insert="~{fragment::style}"></th:block>
</head>
    <nav class="pt-4">
        <div class="row justify-content-start align-items-center">
            <div class="col-3">
               <span class="fs-3">Best of</span>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-secondary"><a th:href="@{/movies}">Film</a></button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-dark"><a th:href="@{/songs}">Canzoni</a></button>
            </div>
        </div>
    </nav>
    <body class="container"> 
        <div class="row">
            <div class="col">
                <th:block th:insert="~{fragment::pageHeader(nome=${name})}"></th:block>
            </div>
            <div class="row justify-content-center align-items-center flex-column">
                <div class="col pt-4">
                    guarda i migliori film o canzoni di quest'anno
                </div>
                <div class="col pt-4">
                    <img class="img-fluid m-auto" th:src="@{/img/2025.jpeg}">
                </div>
                <div class="col pt-5">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempore nam possimus nemo explicabo! Molestiae provident reprehenderit voluptatibus eaque aliquid! Molestiae modi, 
                    ducimus similique laboriosam omnis reiciendis atque nisi praesentium voluptates.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Blanditiis, ipsa nam nulla quisquam natus voluptates nisi cumque error id corrupti, modi inventore! 
                    Consequatur ratione obcaecati accusantium dolor hic velit consequuntur!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempore nam possimus nemo explicabo! Molestiae provident reprehenderit voluptatibus eaque aliquid! Molestiae modi, 
                    ducimus similique laboriosam omnis reiciendis atque nisi praesentium voluptates.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Blanditiis, ipsa nam nulla quisquam natus voluptates nisi cumque error id corrupti, modi inventore! 
                    Consequatur ratione obcaecati accusantium dolor hic velit consequuntur!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tempore nam possimus nemo explicabo! Molestiae provident reprehenderit voluptatibus eaque aliquid! Molestiae modi, 
                    ducimus similique laboriosam omnis reiciendis atque nisi praesentium voluptates.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Blanditiis, ipsa nam nulla quisquam natus voluptates nisi cumque error id corrupti, modi inventore! 
                    Consequatur ratione obcaecati accusantium dolor hic velit consequuntur!</p>
                </div>
            </div>
        </div>
        

    </body>

</html>